QLabel#currentPlayerLabel {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #666;
    padding: 6px;
    margin: 6px;
    min-width: 192px;
}

QLabel#errorLabel {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #FF5050; /* Red color for error messages */
    padding: 6px;
    margin: 6px;
    background-color: #F8F8F8; /* Light gray background */
    border: 1px solid #E0E0E0; /* Light gray border */
    border-radius: 4px; /* Rounded corners */
    qproperty-wordWrap: true;
    min-width: 192px;
}

QLabel#hintLabel {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #3498db; /* Blue color for hints, feel free to adjust */
    padding: 6px;
    margin: 6px;
    background-color: #ECF0F1; /* Light blue background, adjust as needed */
    border: 1px solid #BDC3C7; /* Light gray border, adjust as needed */
    border-radius: 4px; /* Rounded corners */
    qproperty-wordWrap: true;
    min-width: 192px;
}

QLabel#statsLabel {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #666; /* Adjust color as needed */
    padding: 4px 58px;
    margin-bottom: 10px;
    background-color: #F8F8F8; /* Light gray background, adjust as needed */
    border: 1px solid #E0E0E0; /* Light gray border, adjust as needed */
    border-radius: 4px; /* Rounded corners */
    qproperty-wordWrap: true;
    min-width: 192px;
}